<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Adminustration</h1>
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-9">
        <br>
        <h1 style="font-size: 30px; font-weight: 900;">Ajouter Plat</h1>
        
        <div class="form-group row">
            
           
        </div>
        <hr>
        <div class="row">
            <!-- Partie formulaire à Gauche en haut -->
            <div class="col-md-12">
                <form class="form-horizontal" [formGroup]="formC">
                    
                     <fieldset id="account">
                        
                         <div class="form-group required">
                             <label for="input-firstname" class="col-sm-2 control-label">Nom</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" formControlName="nom" placeholder="" value="" name="firstname">
                             </div>
                         </div>
 
                         <div class="form-group required">
                             <label for="input-firstname" class="col-sm-2 control-label">Prix</label>
                             <div class="col-sm-10">
                                 <input type="number" class="form-control" formControlName="prix" placeholder="" value="" name="firstname">
                             </div>
                         </div>
                         
                         <div class="form-group">
                             <label for="input-company" class="col-sm-2 control-label">Description</label>
                             <div class="col-sm-10">
                                 <textarea class="form-control" formControlName="description" rows="10" name="enquiry"></textarea>
                             </div>
                         </div>

                         <h3>Le restaurant</h3>
                         <div class="form-group" *ngFor="let item of restaurants">
                            <div class="custom-control custom-checkbox" *ngIf="isCheked(item)">
                                <input type="checkbox" class="custom-control-input" [id]="item.id"
                                    (change)="removeRestaurant()" checked>
                                <label class="custom-control-label"
                                    [for]="item.id">{{item.nom}}</label>
                            </div>

                            <div class="custom-control custom-checkbox" *ngIf="!isCheked(item)">
                                <input type="checkbox" class="custom-control-input" [id]="item.id"
                                    (change)="clickRestaurant(item.id)">
                                <label class="custom-control-label"
                                    [for]="item.id">{{item.nom}}</label>
                            </div>
                        </div>
 
                     </fieldset>
                    
                     <fieldset style="margin-top: 30px;">
                         <legend>Image</legend>
                         
                             <div class="class-slected">
                                 <div class="form-group">
                                     <label for="input-company" class="col-sm-2 control-label">image</label>
                                     <div class="col-sm-5">
                                         <input 
                                         formControlName="file"
                                         id="file" 
                                         type="file" 
                                         class="form-control"
                                         multiple="" 
                                         (change)="selectedM($event)">
          
                                     </div>
     
                                     <div class="col-sm-5">
                                         <img [src]="imageSelected" style="max-width:100%; margin-bottom: 20px;">
                                     </div>
                                 </div>
                              
                               
                             </div>
                     </fieldset>
                    
                     <div class="form-group" style="border:red solid 2px;" *ngIf="isErreurs">
                         <p style="color: red; padding: 2px 5px;">
                           <span *ngFor="let e of erreurString">  {{e}} <br> </span> 
                         </p>
                     </div>
       
                 
                     <div class="buttons">
                         <div class="pull-right">
                             <input type="submit" class="btn btn-primary" value="Ajouter" (click)="addProduit()">
                         </div>
                     </div>
                 </form>
      
      </div>
      
    </div>
  </div>